In [1]:
import pandas as pd

# Load the datasets
no_sp_df = pd.read_csv('../log/tmplog_finalTest3.csv')
sp_df = pd.read_csv('../log/tmplog_finalTest3_SP.csv')

# Display the first few rows of each DataFrame to understand the structure
no_sp_df.head(), sp_df.head()

(                       flow id:  first send:   last send:  last arrive:  \
 0  11:0:11 11:0:41 10099 100 17     2.003913   556.788351    556.831032
 1  11:0:11 11:0:41 10097 100 17     2.003863   195.736535    195.822595
 2  11:0:11 11:0:41 10096 100 17     2.003838  1036.156771   1036.175113
 3  11:0:11 11:0:41 10093 100 17     2.003762   242.048676    242.126936
 4  11:0:11 11:0:41 10092 100 17     2.003737   183.322508    183.408190

    send num:  receive num:  send size:  receive size:         FCT:  \
 0    2102509       2103006    10364472       10364472   554.827119
 1     116350        116465     2542913        2542913   193.818733
 2   14903123      14904034    30511896       30511896  1034.171275
 3     219860        220021     3335902        3335902   240.123175
 4      74801         74869     1198573        1198573   181.404453

    origin_pg:  transfer delay:
 0           3                0
 1           3                0
 2           3                0
 3           3                0
 4           3                0  ,
                        flow id:  first send:   last send:  last arrive:  \
 0  11:0:11 11:0:41 10099 100 17     2.003913   738.425114    738.493221
 1  11:0:11 11:0:41 10097 100 17     2.003863   279.582807    279.713471
 2  11:0:11 11:0:41 10096 100 17     2.003838  1243.323977   1243.337983
 3  11:0:11 11:0:41 10093 100 17     2.003762   344.282563    344.381635
 4  11:0:11 11:0:41 10092 100 17     2.003737   228.155036    228.342735

    send num:  receive num:  send size:  receive size:         FCT:  \
 0    2932499       2933166    10364472       10364472   736.489308
 1     178229        178428     2542913        2542913   277.709608
 2   19342175      19343298    30511896       30511896  1241.334145
 3     332602        332883     3335902        3335902   342.377873
 4      90712         90833     1198573        1198573   226.338998

    origin_pg:  transfer delay:
 0           3                0
 1           3                0
 2           3                0
 3           3                0
 4           3                0  )

In [2]:
# Merge the datasets on 'flow id:' column
merged_df = pd.merge(no_sp_df, sp_df, on='flow id:', suffixes=('_no_sp', '_sp'))

# Calculate FCT change and percentage change
merged_df['FCT Change'] = merged_df['FCT:_sp'] - merged_df['FCT:_no_sp']
merged_df['FCT % Change'] = (merged_df['FCT Change'] / merged_df['FCT:_no_sp']) * 100

# Display the new dataframe with changes
merged_df[['flow id:', 'FCT:_no_sp', 'FCT:_sp', 'FCT Change', 'FCT % Change']].head()

,flow id:,FCT:_no_sp,FCT:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10099 100 17,554.827119,736.489308,181.662189,32.742125
1,11:0:11 11:0:41 10097 100 17,193.818733,277.709608,83.890875,43.283162
2,11:0:11 11:0:41 10096 100 17,1034.171275,1241.334145,207.162870,20.031776
3,11:0:11 11:0:41 10093 100 17,240.123175,342.377873,102.254699,42.584269
4,11:0:11 11:0:41 10092 100 17,181.404453,226.338998,44.934545,24.770365

In [3]:
merged_df = pd.read_csv('./result_multiCast_BestWithOneChannelAllowed.csv')
# merged_df = pd.read_csv('./result_multiCast.csv')
merged_df

,Unnamed: 0,flow id:,first send:_no_sp,last send:_no_sp,last arrive:_no_sp,send num:_no_sp,receive num:_no_sp,send size:_no_sp,receive size:_no_sp,FCT:_no_sp,...,last arrive:_sp,send num:_sp,receive num:_sp,send size:_sp,receive size:_sp,FCT:_sp,origin_pg:_sp,transfer delay:_sp,FCT Change,FCT % Change
0,0,11:0:11 11:0:41 10099 100 17,2.003913,751.423830,751.468060,2972568,2973270,10364472,10364472,749.464147,...,738.493221,2932499,2933166,10364472,10364472,736.489308,3,0,-12.974839,-1.731215
1,1,11:0:11 11:0:41 10097 100 17,2.003863,270.849192,270.970368,170265,170468,2542913,2542913,268.966505,...,279.713471,178229,178428,2542913,2542913,277.709608,3,0,8.743103,3.250629
2,2,11:0:11 11:0:41 10096 100 17,2.003838,1260.917341,1260.932383,19669192,19670330,30511896,30511896,1258.928545,...,1243.337983,19342175,19343298,30511896,30511896,1241.334145,3,0,-17.594400,-1.397569
3,3,11:0:11 11:0:41 10093 100 17,2.003762,338.550351,338.638275,319355,319629,3335902,3335902,336.634513,...,344.381635,332602,332883,3335902,3335902,342.377873,3,0,5.743360,1.706112
4,4,11:0:11 11:0:41 10092 100 17,2.003737,224.508166,224.632708,88421,88540,1198573,1198573,222.628971,...,228.342735,90712,90833,1198573,1198573,226.338998,3,0,3.710027,1.666462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,895,11:0:101 11:0:41 10055 100 17,42.001671,517.747426,517.838204,975762,976163,4746948,4746948,475.836532,...,501.528015,955150,955537,4746948,4746948,459.526344,3,0,-16.310189,-3.427687
896,896,11:0:101 11:0:41 10006 100 17,42.000175,168.798525,168.798615,3143,3143,2154,2154,126.798440,...,168.642796,3139,3139,2154,2154,126.642621,1,0,-0.155819,-0.122887
897,897,11:0:101 11:0:41 10025 100 17,42.000667,162.342021,162.342313,3220,3220,2223,2223,120.341646,...,162.180059,3220,3220,2223,2223,120.179392,1,0,-0.162254,-0.134828
898,898,11:0:101 11:0:41 10057 100 17,42.002003,675.308228,675.370731,2177413,2177991,7499680,7499680,633.368728,...,44.054307,179,181,484,484,2.052304,3,0,-631.316424,-99.675970
899,899,11:0:101 11:0:41 10058 100 17,42.002029,568.008796,568.084539,1200791,1201246,5245604,5245604,526.082510,...,554.035581,1181847,1182283,5245604,5245604,512.033553,3,0,-14.048957,-2.670486

In [4]:
# Group by origin priority group and calculate the required statistics
group_stats = merged_df.groupby('origin_pg:_no_sp').agg(
    FCT_Total_No_SP=pd.NamedAgg(column='FCT:_no_sp', aggfunc='sum'),
    FCT_Total_SP=pd.NamedAgg(column='FCT:_sp', aggfunc='sum'),
    Total_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='sum'),
    Mean_FCT_Change=pd.NamedAgg(column='FCT % Change', aggfunc='mean'),
    Mean_FCT_Per_Change=pd.NamedAgg(column='FCT Change', aggfunc='mean'),
    Count_FCT_Decrease=pd.NamedAgg(column='FCT Change', aggfunc=lambda x: (x <= 0.0).sum()),
    Total_Flows=pd.NamedAgg(column='FCT Change', aggfunc='size')
)

# Calculate percentage of flows with decreased FCT
group_stats['Percentage_FCT_Decrease'] = (group_stats['Count_FCT_Decrease'] / group_stats['Total_Flows']) * 100

# Display the summarized statistics
group_stats.reset_index()

,origin_pg:_no_sp,FCT_Total_No_SP,FCT_Total_SP,Total_FCT_Change,Mean_FCT_Change,Mean_FCT_Per_Change,Count_FCT_Decrease,Total_Flows,Percentage_FCT_Decrease
0,1,46748.085932,46661.597902,-86.488030,-0.187021,-0.213551,314,405,77.530864
1,2,64513.202633,59692.041984,-4821.160649,-3.918364,-53.568452,72,90,80.000000
2,3,414283.671744,398498.987457,-15784.684287,-1.678537,-38.974529,353,405,87.160494

In [5]:
# merged_df.to_csv("./result_multiCast_BestWithOneChannelAllowed.csv")

In [6]:
#0 	1 	15470.217402 	15470.217336 	-0.000066 	-4.888741e-07 	1 	135 	0.740741

In [7]:
# in 40Mpbs some high pg flows' fct has increase as follow: 
    # 131,11:0:21 11:0:41 10020 100 17,2.00055418,125.34508296,125.364080097,2083,2086,123.363525917,1,0,2.00055418,125.366682448,125.366845447,2086,2086,123.366291267,1,0,0.0027653499999900077,0.002241626914790485
        # use high_60 replace high_61
    # 156,11:0:21 11:0:41 10004 100 17,2.000111196,113.565199616,113.58213076,1627,1629,111.582019564,1,0,2.000111196,113.610388046,113.610699046,1629,1629,111.61058785,1,0,0.02856828599999517,0.02560294760000224
        # use high_12 replace high_13
    # 183,11:0:21 11:0:41 10040 100 17,2.001132561,120.484628618,120.506937341,1108,1111,118.50580478,1,0,2.001132561,120.556739024,120.557038222,1113,1114,118.555905661,1,0,0.05010088099999166,0.04227715350568809
        # use high_120 replace high_121
    # 180,11:0:21 11:0:41 10029 100 17,2.000844572,121.428252899,121.447419428,1951,1951,119.446574856,1,0,2.000844572,121.44740644,121.447481839,1951,1951,119.446637267,1,0,6.241100000181632e-05,5.225013783530965e-05
        # use high_87 replace high_88   
    # 256,11:0:31 11:0:41 10022 100 17,2.000626577,123.632155519,123.651544052,2069,2082,121.650917475,1,0,2.000626577,123.653212468,123.653460069,2069,2069,121.652833492,1,0,0.001916016999999215,0.0015750123712737045
        # use high_67 replace high_68       
    # 50,11:0:11 11:0:41 10020 100 17,2.00054058,124.004466398,124.021815529,2071,2075,122.021274949,1,0,2.00054058,124.023811895,124.023887895,2071,2071,122.023347315,1,0,0.0020723659999930533,0.0016983644867333333
        # use high_59 replace high_60
        # use high_60 replace high_61