In [1]:
import pandas as pd

# Load the datasets
no_sp_df = pd.read_csv('../log/tmplog_finalTest3.csv')
sp_df = pd.read_csv('../log/tmplog_finalTest3_SP.csv')

# Display the first few rows of each DataFrame to understand the structure
no_sp_df.head(), sp_df.head()

(                       flow id:  first send:  last send:  last arrive:  \
 0  11:0:11 11:0:41 10042 100 17     2.001175  127.512573    127.512626
 1  11:0:11 11:0:41 10041 100 17     2.001116  126.937611    126.937673
 2  11:0:11 11:0:41 10040 100 17     2.001091  125.313376    125.313434
 3  11:0:11 11:0:41 10037 100 17     2.001004  118.884649    118.884702
 4  11:0:11 11:0:41 10035 100 17     2.000954  123.982972    123.983024

    send num:  receive num        FCT:  origin_pg:  transfer delay:
 0       2214         2214  125.511450           1                0
 1       3777         3777  124.936557           1                0
 2       2083         2083  123.312343           1                0
 3       1842         1842  116.883697           1                0
 4       2075         2075  121.982071           1                0  ,
                        flow id:  first send:  last send:  last arrive:  \
 0  11:0:11 11:0:41 10042 100 17     2.001175  127.512573    127.512626
 1  11:0:11 11:0:41 10041 100 17     2.001116  126.937611    126.937673
 2  11:0:11 11:0:41 10040 100 17     2.001091  125.313376    125.313434
 3  11:0:11 11:0:41 10037 100 17     2.001004  118.884649    118.884702
 4  11:0:11 11:0:41 10035 100 17     2.000954  123.982972    123.983024

    send num:  receive num        FCT:  origin_pg:  transfer delay:
 0       2214         2214  125.511450           1                0
 1       3777         3777  124.936557           1                0
 2       2083         2083  123.312343           1                0
 3       1842         1842  116.883697           1                0
 4       2075         2075  121.982071           1                0  )

In [2]:
# Merge the datasets on 'flow id:' column
merged_df = pd.merge(no_sp_df, sp_df, on='flow id:', suffixes=('_no_sp', '_sp'))

# Calculate FCT change and percentage change
merged_df['FCT Change'] = merged_df['FCT:_sp'] - merged_df['FCT:_no_sp']
merged_df['FCT % Change'] = (merged_df['FCT Change'] / merged_df['FCT:_no_sp']) * 100

# Display the new dataframe with changes
merged_df[['flow id:', 'FCT:_no_sp', 'FCT:_sp', 'FCT Change', 'FCT % Change']].head()

,flow id:,FCT:_no_sp,FCT:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10042 100 17,125.511450,125.511450,0.0,0.0
1,11:0:11 11:0:41 10041 100 17,124.936557,124.936557,0.0,0.0
2,11:0:11 11:0:41 10040 100 17,123.312343,123.312343,0.0,0.0
3,11:0:11 11:0:41 10037 100 17,116.883697,116.883697,0.0,0.0
4,11:0:11 11:0:41 10035 100 17,121.982071,121.982071,0.0,0.0

In [3]:
merged_df

,flow id:,first send:_no_sp,last send:_no_sp,last arrive:_no_sp,send num:_no_sp,receive num_no_sp,FCT:_no_sp,origin_pg:_no_sp,transfer delay:_no_sp,first send:_sp,last send:_sp,last arrive:_sp,send num:_sp,receive num_sp,FCT:_sp,origin_pg:_sp,transfer delay:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10042 100 17,2.001175,127.512573,127.512626,2214,2214,125.511450,1,0,2.001175,127.512573,127.512626,2214,2214,125.511450,1,0,0.0,0.0
1,11:0:11 11:0:41 10041 100 17,2.001116,126.937611,126.937673,3777,3777,124.936557,1,0,2.001116,126.937611,126.937673,3777,3777,124.936557,1,0,0.0,0.0
2,11:0:11 11:0:41 10040 100 17,2.001091,125.313376,125.313434,2083,2083,123.312343,1,0,2.001091,125.313376,125.313434,2083,2083,123.312343,1,0,0.0,0.0
3,11:0:11 11:0:41 10037 100 17,2.001004,118.884649,118.884702,1842,1842,116.883697,1,0,2.001004,118.884649,118.884702,1842,1842,116.883697,1,0,0.0,0.0
4,11:0:11 11:0:41 10035 100 17,2.000954,123.982972,123.983024,2075,2075,121.982071,1,0,2.000954,123.982972,123.983024,2075,2075,121.982071,1,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,11:0:31 11:0:41 10020 100 17,2.000577,123.983141,123.983192,2075,2075,121.982616,1,0,2.000577,123.983141,123.983192,2075,2075,121.982616,1,0,0.0,0.0
131,11:0:31 11:0:41 10024 100 17,2.000676,113.775409,113.775454,3809,3809,111.774778,1,0,2.000676,113.775409,113.775454,3809,3809,111.774778,1,0,0.0,0.0
132,11:0:31 11:0:41 10021 100 17,2.000602,118.910230,118.910281,1839,1839,116.909679,1,0,2.000602,118.910230,118.910281,1839,1839,116.909679,1,0,0.0,0.0
133,11:0:31 11:0:41 10023 100 17,2.000652,108.121391,108.121432,5133,5133,106.120780,1,0,2.000652,108.121391,108.121432,5133,5133,106.120780,1,0,0.0,0.0
134,11:0:31 11:0:41 10028 100 17,2.000824,120.073260,120.073338,1619,1619,118.072514,1,0,2.000824,120.073260,120.073338,1619,1619,118.072514,1,0,0.0,0.0

In [4]:
# Group by origin priority group and calculate the required statistics
group_stats = merged_df.groupby('origin_pg:_no_sp').agg(
    FCT_Total_No_SP=pd.NamedAgg(column='FCT:_no_sp', aggfunc='sum'),
    FCT_Total_SP=pd.NamedAgg(column='FCT:_sp', aggfunc='sum'),
    Total_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='sum'),
    Mean_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='mean'),
    Count_FCT_Decrease=pd.NamedAgg(column='FCT Change', aggfunc=lambda x: (x <= 0.0).sum()),
    Total_Flows=pd.NamedAgg(column='FCT Change', aggfunc='size')
)

# Calculate percentage of flows with decreased FCT
group_stats['Percentage_FCT_Decrease'] = (group_stats['Count_FCT_Decrease'] / group_stats['Total_Flows']) * 100

# Display the summarized statistics
group_stats.reset_index()

,origin_pg:_no_sp,FCT_Total_No_SP,FCT_Total_SP,Total_FCT_Change,Mean_FCT_Change,Count_FCT_Decrease,Total_Flows,Percentage_FCT_Decrease
0,1,15470.216122,15470.216056,-0.000066,-4.888741e-07,135,135,100.0

In [5]:
merged_df.to_csv("./result.csv")

In [6]:
#0 	1 	15470.217402 	15470.217336 	-0.000066 	-4.888741e-07 	1 	135 	0.740741