In [1]:
import pandas as pd

# Load the datasets
no_sp_df = pd.read_csv('../log/tmplog_finalTest4.csv')
sp_df = pd.read_csv('../log/tmplog_finalTest4_SP.csv')

# Display the first few rows of each DataFrame to understand the structure
no_sp_df.head(), sp_df.head()

(                       flow id:  first send:  last send:  last arrive:  \
 0  11:0:11 11:0:41 10099 100 17     2.000619   10.081460     10.092303
 1  11:0:11 11:0:41 10097 100 17     2.000594   34.395573     34.395600
 2  11:0:11 11:0:41 10096 100 17     2.000582   10.490860     10.492550
 3  11:0:11 11:0:41 10093 100 17     2.000548   10.469661     10.471650
 4  11:0:11 11:0:41 10092 100 17     2.000536   10.081602     10.092444

    send num:  receive num:  send size:  receive size:       FCT:  origin_pg:
 0       4674          4682     1050000        1050000   8.091684           3
 1       5908          5915     1049369        1049369  32.395006           3
 2       5088          5095     1049895        1049895   8.491969           3
 3       5117          5124     1049740        1049740   8.471101           3
 4       4674          4682     1050000        1050000   8.091909           3  ,
                        flow id:  first send:  last send:  last arrive:  \
 0  11:0:11 11:0:41 10099 100 17     2.000619   10.073237     10.083771
 1  11:0:11 11:0:41 10097 100 17     2.000594    9.622236      9.632667
 2  11:0:11 11:0:41 10096 100 17     2.000582   10.477088     10.478657
 3  11:0:11 11:0:41 10093 100 17     2.000548   10.449423     10.451543
 4  11:0:11 11:0:41 10092 100 17     2.000536   10.073373     10.083908

    send num:  receive num:  send size:  receive size:      FCT:  origin_pg:
 0       4739          4747     1050000        1050000  8.083152           3
 1       4294          4301      981043         981043  7.632073           3
 2       5143          5151     1049895        1049895  8.478076           3
 3       5165          5173     1049740        1049740  8.450995           3
 4       4739          4747     1050000        1050000  8.083372           3  )

In [2]:
# Merge the datasets on 'flow id:' column
merged_df = pd.merge(no_sp_df, sp_df, on='flow id:', suffixes=('_no_sp', '_sp'))

# Calculate FCT change and percentage change
merged_df['FCT Change'] = merged_df['FCT:_sp'] - merged_df['FCT:_no_sp']
merged_df['FCT % Change'] = (merged_df['FCT Change'] / merged_df['FCT:_no_sp']) * 100

# Display the new dataframe with changes
merged_df[['flow id:', 'FCT:_no_sp', 'FCT:_sp', 'FCT Change', 'FCT % Change']].head()

,flow id:,FCT:_no_sp,FCT:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10099 100 17,8.091684,8.083152,-0.008532,-0.105441
1,11:0:11 11:0:41 10097 100 17,32.395006,7.632073,-24.762934,-76.440589
2,11:0:11 11:0:41 10096 100 17,8.491969,8.478076,-0.013893,-0.163602
3,11:0:11 11:0:41 10093 100 17,8.471101,8.450995,-0.020106,-0.237353
4,11:0:11 11:0:41 10092 100 17,8.091909,8.083372,-0.008537,-0.105498

In [3]:
# merged_df = pd.read_csv('./result_4_multiCast_overlap.csv')
# merged_df = pd.read_csv('./result_4_multiCast.csv')
# merged_df = pd.read_csv('./result_4.csv')
merged_df

,flow id:,first send:_no_sp,last send:_no_sp,last arrive:_no_sp,send num:_no_sp,receive num:_no_sp,send size:_no_sp,receive size:_no_sp,FCT:_no_sp,origin_pg:_no_sp,...,last send:_sp,last arrive:_sp,send num:_sp,receive num:_sp,send size:_sp,receive size:_sp,FCT:_sp,origin_pg:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10099 100 17,2.000619,10.081460,10.092303,4674,4682,1050000,1050000,8.091684,3,...,10.073237,10.083771,4739,4747,1050000,1050000,8.083152,3,-0.008532,-0.105441
1,11:0:11 11:0:41 10097 100 17,2.000594,34.395573,34.395600,5908,5915,1049369,1049369,32.395006,3,...,9.622236,9.632667,4294,4301,981043,981043,7.632073,3,-24.762934,-76.440589
2,11:0:11 11:0:41 10096 100 17,2.000582,10.490860,10.492550,5088,5095,1049895,1049895,8.491969,3,...,10.477088,10.478657,5143,5151,1049895,1049895,8.478076,3,-0.013893,-0.163602
3,11:0:11 11:0:41 10093 100 17,2.000548,10.469661,10.471650,5117,5124,1049740,1049740,8.471101,3,...,10.449423,10.451543,5165,5173,1049740,1049740,8.450995,3,-0.020106,-0.237353
4,11:0:11 11:0:41 10092 100 17,2.000536,10.081602,10.092444,4674,4682,1050000,1050000,8.091909,3,...,10.073373,10.083908,4739,4747,1050000,1050000,8.083372,3,-0.008537,-0.105498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,11:0:251 11:0:41 10081 100 17,2.035480,10.165762,10.172416,4747,4755,1050040,1050040,8.136936,3,...,10.155084,10.161468,4812,4820,1050040,1050040,8.125987,3,-0.010948,-0.134549
2396,11:0:251 11:0:41 10070 100 17,2.035349,10.259235,10.263569,4938,4946,1049740,1049740,8.228220,3,...,10.243140,10.247386,5002,5010,1049740,1049740,8.212038,3,-0.016183,-0.196673
2397,11:0:251 11:0:41 10053 100 17,2.035161,5.337786,5.348953,1008,1011,65793,65793,3.313792,2,...,2.114178,2.114282,19,19,1363,1363,0.079121,2,-3.234671,-97.612358
2398,11:0:251 11:0:41 10057 100 17,2.035194,10.219740,10.225125,4806,4814,1049303,1049303,8.189931,3,...,10.161330,10.167241,4815,4823,1049303,1049303,8.132047,3,-0.057884,-0.706766
2399,11:0:251 11:0:41 10058 100 17,2.035206,10.506243,10.507713,5155,5162,1049740,1049740,8.472507,3,...,10.490922,10.492342,5208,5215,1049740,1049740,8.457135,3,-0.015372,-0.181429

In [4]:
# Group by origin priority group and calculate the required statistics
group_stats = merged_df.groupby('origin_pg:_no_sp').agg(
    FCT_Total_No_SP=pd.NamedAgg(column='FCT:_no_sp', aggfunc='sum'),
    FCT_Total_SP=pd.NamedAgg(column='FCT:_sp', aggfunc='sum'),
    Total_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='sum'),
    Mean_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='mean'),
    Mean_FCT_Per_Change=pd.NamedAgg(column='FCT % Change', aggfunc='mean'),
    Count_FCT_Decrease=pd.NamedAgg(column='FCT Change', aggfunc=lambda x: (x <= 0.0).sum()),
    Total_Flows=pd.NamedAgg(column='FCT Change', aggfunc='size'),
    Count_FCT_30Percentage_Decrease=pd.NamedAgg(column='FCT % Change', aggfunc=lambda x: (x <= -30.0).sum())
)
    
# Calculate percentage of flows with decreased FCT
group_stats['Percentage_FCT_Decrease'] = (group_stats['Count_FCT_Decrease'] / group_stats['Total_Flows']) * 100
    
group_stats['Count_FCT_30Percentage_Decrease'] = group_stats['Count_FCT_30Percentage_Decrease'] / group_stats['Total_Flows'] * 100


# Display the summarized statistics
group_stats.reset_index()

,origin_pg:_no_sp,FCT_Total_No_SP,FCT_Total_SP,Total_FCT_Change,Mean_FCT_Change,Mean_FCT_Per_Change,Count_FCT_Decrease,Total_Flows,Count_FCT_30Percentage_Decrease,Percentage_FCT_Decrease
0,1,2042.646005,1926.542004,-116.104001,-0.107504,-8.127427,809,1080,1.851852,74.907407
1,2,800.597278,548.123115,-252.474163,-1.051976,-24.025023,163,240,35.833333,67.916667
2,3,10508.915360,8929.895207,-1579.020154,-1.462056,-7.316870,1012,1080,11.296296,93.703704

In [5]:
# merged_df.to_csv("./result_4_multiCast_8times_bigbuf_renew.csv")

In [6]:
#0 	1 	15470.217402 	15470.217336 	-0.000066 	-4.888741e-07 	1 	135 	0.740741

In [7]:
# in 40Mpbs some high pg flows' fct has increase as follow: 
    # 131,11:0:21 11:0:41 10020 100 17,2.00055418,125.34508296,125.364080097,2083,2086,123.363525917,1,0,2.00055418,125.366682448,125.366845447,2086,2086,123.366291267,1,0,0.0027653499999900077,0.002241626914790485
        # use high_60 replace high_61
    # 156,11:0:21 11:0:41 10004 100 17,2.000111196,113.565199616,113.58213076,1627,1629,111.582019564,1,0,2.000111196,113.610388046,113.610699046,1629,1629,111.61058785,1,0,0.02856828599999517,0.02560294760000224
        # use high_12 replace high_13
    # 183,11:0:21 11:0:41 10040 100 17,2.001132561,120.484628618,120.506937341,1108,1111,118.50580478,1,0,2.001132561,120.556739024,120.557038222,1113,1114,118.555905661,1,0,0.05010088099999166,0.04227715350568809
        # use high_120 replace high_121
    # 180,11:0:21 11:0:41 10029 100 17,2.000844572,121.428252899,121.447419428,1951,1951,119.446574856,1,0,2.000844572,121.44740644,121.447481839,1951,1951,119.446637267,1,0,6.241100000181632e-05,5.225013783530965e-05
        # use high_87 replace high_88   
    # 256,11:0:31 11:0:41 10022 100 17,2.000626577,123.632155519,123.651544052,2069,2082,121.650917475,1,0,2.000626577,123.653212468,123.653460069,2069,2069,121.652833492,1,0,0.001916016999999215,0.0015750123712737045
        # use high_67 replace high_68       
    # 50,11:0:11 11:0:41 10020 100 17,2.00054058,124.004466398,124.021815529,2071,2075,122.021274949,1,0,2.00054058,124.023811895,124.023887895,2071,2071,122.023347315,1,0,0.0020723659999930533,0.0016983644867333333
        # use high_59 replace high_60
        # use high_60 replace high_61

In [8]:
# 300_reconstruction_flow_txt_origin_receive_renew REPLACE:
# high_57->high_123
# high_82->high_125

In [9]:
ftr_data = merged_df[merged_df['origin_pg:_no_sp'] == 1]
nlen = len(ftr_data)
idx = int(nlen * 0.999)

ftr_no_sp = ftr_data.sort_values(by='FCT:_no_sp')
ftr_sp = ftr_data.sort_values(by='FCT:_sp')
targetVal_no_sp = ftr_no_sp.iloc[idx]['FCT:_no_sp']
targetVal_sp = ftr_sp.iloc[idx]['FCT:_sp']

print(targetVal_no_sp)
print(targetVal_sp)
print((targetVal_no_sp-targetVal_sp) / targetVal_no_sp)

8.861400948
8.652832981
0.023536680963191697

#