In [1]:
import pandas as pd

# Load the datasets
no_sp_df = pd.read_csv('../log/tmplog_finalTest3.csv')
sp_df = pd.read_csv('../log/tmplog_finalTest3_SP.csv')

# Display the first few rows of each DataFrame to understand the structure
no_sp_df.head(), sp_df.head()

(                       flow id:  first send:  last send:  last arrive:  \
 0  11:0:11 11:0:41 10054 100 17     2.001631  135.003456    135.003589
 1  11:0:11 11:0:41 10051 100 17     2.001495  139.366058    139.366124
 2  11:0:11 11:0:41 10050 100 17     2.001432  150.715350    150.715464
 3  11:0:11 11:0:41 10047 100 17     2.001273  143.727250    143.727370
 4  11:0:11 11:0:41 10045 100 17     2.001221  136.163447    136.163526

    send num:  receive num        FCT:  origin_pg:  transfer delay:
 0     490080       490080  133.001958           2                0
 1      32027        32027  137.364630           2                0
 2     294056       294057  148.714033           2                0
 3     246080       246080  141.726097           2                0
 4     273831       273832  134.162305           2                0  ,
                        flow id:  first send:  last send:  last arrive:  \
 0  11:0:11 11:0:41 10054 100 17     2.001631  135.002939    135.003072
 1  11:0:11 11:0:41 10051 100 17     2.001495  139.366126    139.366192
 2  11:0:11 11:0:41 10050 100 17     2.001432  150.715280    150.715395
 3  11:0:11 11:0:41 10047 100 17     2.001273  143.727170    143.727290
 4  11:0:11 11:0:41 10045 100 17     2.001221  136.163197    136.163276

    send num:  receive num        FCT:  origin_pg:  transfer delay:
 0     490080       490080  133.001441           2                0
 1      32027        32027  137.364697           2                0
 2     294056       294056  148.713963           2                0
 3     246080       246080  141.726017           2                0
 4     273831       273832  134.162055           2                0  )

In [2]:
# Merge the datasets on 'flow id:' column
merged_df = pd.merge(no_sp_df, sp_df, on='flow id:', suffixes=('_no_sp', '_sp'))

# Calculate FCT change and percentage change
merged_df['FCT Change'] = merged_df['FCT:_sp'] - merged_df['FCT:_no_sp']
merged_df['FCT % Change'] = (merged_df['FCT Change'] / merged_df['FCT:_no_sp']) * 100

# Display the new dataframe with changes
merged_df[['flow id:', 'FCT:_no_sp', 'FCT:_sp', 'FCT Change', 'FCT % Change']].head()

,flow id:,FCT:_no_sp,FCT:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10054 100 17,133.001958,133.001441,-0.000517,-0.000388
1,11:0:11 11:0:41 10051 100 17,137.364630,137.364697,0.000068,0.000049
2,11:0:11 11:0:41 10050 100 17,148.714033,148.713963,-0.000070,-0.000047
3,11:0:11 11:0:41 10047 100 17,141.726097,141.726017,-0.000080,-0.000056
4,11:0:11 11:0:41 10045 100 17,134.162305,134.162055,-0.000250,-0.000186

In [3]:
merged_df

,flow id:,first send:_no_sp,last send:_no_sp,last arrive:_no_sp,send num:_no_sp,receive num_no_sp,FCT:_no_sp,origin_pg:_no_sp,transfer delay:_no_sp,first send:_sp,last send:_sp,last arrive:_sp,send num:_sp,receive num_sp,FCT:_sp,origin_pg:_sp,transfer delay:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10054 100 17,2.001631,135.003456,135.003589,490080,490080,133.001958,2,0,2.001631,135.002939,135.003072,490080,490080,133.001441,2,0,-0.000517,-0.000388
1,11:0:11 11:0:41 10051 100 17,2.001495,139.366058,139.366124,32027,32027,137.364630,2,0,2.001495,139.366126,139.366192,32027,32027,137.364697,2,0,0.000068,0.000049
2,11:0:11 11:0:41 10050 100 17,2.001432,150.715350,150.715464,294056,294057,148.714033,2,0,2.001432,150.715280,150.715395,294056,294056,148.713963,2,0,-0.000070,-0.000047
3,11:0:11 11:0:41 10047 100 17,2.001273,143.727250,143.727370,246080,246080,141.726097,2,0,2.001273,143.727170,143.727290,246080,246080,141.726017,2,0,-0.000080,-0.000056
4,11:0:11 11:0:41 10045 100 17,2.001221,136.163447,136.163526,273831,273832,134.162305,2,0,2.001221,136.163197,136.163276,273831,273832,134.162055,2,0,-0.000250,-0.000186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,11:0:31 11:0:41 10020 100 17,2.000552,123.983143,123.983195,2075,2075,121.982643,1,0,2.000552,123.983116,123.983167,2075,2075,121.982616,1,0,-0.000027,-0.000022
161,11:0:31 11:0:41 10024 100 17,2.000651,113.775435,113.775481,3809,3809,111.774829,1,0,2.000651,113.775442,113.775488,3809,3809,111.774836,1,0,0.000007,0.000006
162,11:0:31 11:0:41 10021 100 17,2.000577,118.910217,118.910269,1839,1839,116.909692,1,0,2.000577,118.910217,118.910269,1839,1839,116.909692,1,0,0.000000,0.000000
163,11:0:31 11:0:41 10023 100 17,2.000627,108.121399,108.121440,5133,5133,106.120813,1,0,2.000627,108.121434,108.121475,5133,5133,106.120848,1,0,0.000035,0.000033
164,11:0:31 11:0:41 10028 100 17,2.000799,120.073248,120.073326,1619,1619,118.072527,1,0,2.000799,120.073235,120.073313,1619,1619,118.072514,1,0,-0.000013,-0.000011

In [4]:
# Group by origin priority group and calculate the required statistics
group_stats = merged_df.groupby('origin_pg:_no_sp').agg(
    FCT_Total_No_SP=pd.NamedAgg(column='FCT:_no_sp', aggfunc='sum'),
    FCT_Total_SP=pd.NamedAgg(column='FCT:_sp', aggfunc='sum'),
    Total_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='sum'),
    Mean_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='mean'),
    Count_FCT_Decrease=pd.NamedAgg(column='FCT Change', aggfunc=lambda x: (x <= 0).sum()),
    Total_Flows=pd.NamedAgg(column='FCT Change', aggfunc='size')
)

# Calculate percentage of flows with decreased FCT
group_stats['Percentage_FCT_Decrease'] = (group_stats['Count_FCT_Decrease'] / group_stats['Total_Flows']) * 100

# Display the summarized statistics
group_stats.reset_index()

,origin_pg:_no_sp,FCT_Total_No_SP,FCT_Total_SP,Total_FCT_Change,Mean_FCT_Change,Count_FCT_Decrease,Total_Flows,Percentage_FCT_Decrease
0,1,15470.221497,15470.221238,-0.000259,-0.000002,110,135,81.481481
1,2,19595.402329,19595.397172,-0.005156,-0.000172,21,30,70.000000

In [5]:
merged_df.to_csv("./result.csv")

In [6]:
#0 	1 	15470.217402 	15470.217336 	-0.000066 	-4.888741e-07 	1 	135 	0.740741