In [1]:
import pandas as pd

# Load the datasets
no_sp_df = pd.read_csv('../log/tmplog_finalTest3.csv')
sp_df = pd.read_csv('../log/tmplog_finalTest3_SP.csv')

# Display the first few rows of each DataFrame to understand the structure
no_sp_df.head(), sp_df.head()

(                       flow id:  first send:   last send:  last arrive:  \
 0  11:0:11 11:0:41 10198 100 17     7.005137  1510.519089   1510.520235
 1  11:0:11 11:0:41 10195 100 17     7.004774   772.799773    772.809238
 2  11:0:11 11:0:41 10193 100 17     7.004602   497.441635    497.459415
 3  11:0:11 11:0:41 10192 100 17     7.004565   516.858041    516.876198
 4  11:0:11 11:0:41 10190 100 17     7.004500   660.269462    660.283286

    send num:  receive num:  send size:  receive size:         FCT:  \
 0  136851633     136852701    88826839       88826839  1503.515098
 1   15342649      15343361    32953236       32953236   765.804464
 2    2983457       2983854    15111218       15111218   490.454813
 3    4566807       4567304     1333486        1333486   509.871633
 4    9308910       9309541    24711438       24711438   653.278786

    origin_pg:  transfer delay:
 0           3                0
 1           3                0
 2           3                0
 3           3                0
 4           3                0  ,
                        flow id:  first send:   last send:  last arrive:  \
 0  11:0:11 11:0:41 10198 100 17     7.004910  1496.562234   1496.562291
 1  11:0:11 11:0:41 10195 100 17     7.004548   853.008091    853.016898
 2  11:0:11 11:0:41 10193 100 17     7.004376   627.782853    627.797128
 3  11:0:11 11:0:41 10192 100 17     7.004338   325.177354    325.177550
 4  11:0:11 11:0:41 10190 100 17     7.004274   616.045180    616.061826

    send num:  receive num:  send size:  receive size:         FCT:  \
 0  128249131     128250120    88826839       88826839  1489.557381
 1   18460429      18461234    32953236       32953236   846.012350
 2    4060418       4060960    15111218       15111218   620.792752
 3    2452629       2452666     1333486        1333486   318.173212
 4    7562613       7563197    24711438       24711438   609.057552

    origin_pg:  transfer delay:
 0           3                0
 1           3                0
 2           3                0
 3           3                0
 4           3                0  )

In [2]:
# Merge the datasets on 'flow id:' column
merged_df = pd.merge(no_sp_df, sp_df, on='flow id:', suffixes=('_no_sp', '_sp'))

# Calculate FCT change and percentage change
merged_df['FCT Change'] = merged_df['FCT:_sp'] - merged_df['FCT:_no_sp']
merged_df['FCT % Change'] = (merged_df['FCT Change'] / merged_df['FCT:_no_sp']) * 100

# Display the new dataframe with changes
merged_df[['flow id:', 'FCT:_no_sp', 'FCT:_sp', 'FCT Change', 'FCT % Change']].head()

,flow id:,FCT:_no_sp,FCT:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10198 100 17,1503.515098,1489.557381,-13.957718,-0.928339
1,11:0:11 11:0:41 10195 100 17,765.804464,846.012350,80.207887,10.473677
2,11:0:11 11:0:41 10193 100 17,490.454813,620.792752,130.337939,26.574913
3,11:0:11 11:0:41 10192 100 17,509.871633,318.173212,-191.698421,-37.597389
4,11:0:11 11:0:41 10190 100 17,653.278786,609.057552,-44.221234,-6.769121

In [3]:
# merged_df = pd.read_csv('./result_bak.csv')
# merged_df = pd.read_csv('./result.csv')
merged_df

,flow id:,first send:_no_sp,last send:_no_sp,last arrive:_no_sp,send num:_no_sp,receive num:_no_sp,send size:_no_sp,receive size:_no_sp,FCT:_no_sp,origin_pg:_no_sp,...,last arrive:_sp,send num:_sp,receive num:_sp,send size:_sp,receive size:_sp,FCT:_sp,origin_pg:_sp,transfer delay:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10198 100 17,7.005137,1510.519089,1510.520235,136851633,136852701,88826839,88826839,1503.515098,3,...,1496.562291,128249131,128250120,88826839,88826839,1489.557381,3,0,-13.957718,-0.928339
1,11:0:11 11:0:41 10195 100 17,7.004774,772.799773,772.809238,15342649,15343361,32953236,32953236,765.804464,3,...,853.016898,18460429,18461234,32953236,32953236,846.012350,3,0,80.207887,10.473677
2,11:0:11 11:0:41 10193 100 17,7.004602,497.441635,497.459415,2983457,2983854,15111218,15111218,490.454813,3,...,627.797128,4060418,4060960,15111218,15111218,620.792752,3,0,130.337939,26.574913
3,11:0:11 11:0:41 10192 100 17,7.004565,516.858041,516.876198,4566807,4567304,1333486,1333486,509.871633,3,...,325.177550,2452629,2452666,1333486,1333486,318.173212,3,0,-191.698421,-37.597389
4,11:0:11 11:0:41 10190 100 17,7.004500,660.269462,660.283286,9308910,9309541,24711438,24711438,653.278786,3,...,616.061826,7562613,7563197,24711438,24711438,609.057552,3,0,-44.221234,-6.769121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,11:0:31 11:0:41 10121 100 17,7.000818,122.523423,122.581063,1268,1275,3096,3096,115.580246,1,...,122.521988,1269,1269,3096,3096,115.520977,1,0,-0.059269,-0.051279
596,11:0:31 11:0:41 10085 100 17,2.004128,293.228718,293.270958,681472,681662,5636747,5636747,291.266830,3,...,374.627056,863372,863662,5636747,5636747,372.622928,3,0,81.356098,27.931810
597,11:0:31 11:0:41 10126 100 17,7.000984,80.562729,80.617526,1226,1227,2214,2214,73.616542,1,...,80.273263,1224,1224,2214,2214,73.272086,1,0,-0.344456,-0.467906
598,11:0:31 11:0:41 10094 100 17,2.004481,621.919781,621.934088,5548026,5548520,20446843,20446843,619.929607,3,...,739.007901,7263490,7264101,20446843,20446843,737.003421,3,0,117.073813,18.885017
599,11:0:31 11:0:41 10123 100 17,7.000894,131.209564,131.263762,3238,3241,6327,6327,124.262869,1,...,130.827561,3227,3227,6327,6327,123.826474,1,0,-0.436395,-0.351187

In [4]:
# Group by origin priority group and calculate the required statistics
group_stats = merged_df.groupby('origin_pg:_no_sp').agg(
    FCT_Total_No_SP=pd.NamedAgg(column='FCT:_no_sp', aggfunc='sum'),
    FCT_Total_SP=pd.NamedAgg(column='FCT:_sp', aggfunc='sum'),
    Total_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='sum'),
    Mean_FCT_Change=pd.NamedAgg(column='FCT % Change', aggfunc='mean'),
    Mean_FCT_Per_Change=pd.NamedAgg(column='FCT Change', aggfunc='mean'),
    Count_FCT_Decrease=pd.NamedAgg(column='FCT Change', aggfunc=lambda x: (x <= 0.0).sum()),
    Total_Flows=pd.NamedAgg(column='FCT Change', aggfunc='size')
)

# Calculate percentage of flows with decreased FCT
group_stats['Percentage_FCT_Decrease'] = (group_stats['Count_FCT_Decrease'] / group_stats['Total_Flows']) * 100

# Display the summarized statistics
group_stats.reset_index()

,origin_pg:_no_sp,FCT_Total_No_SP,FCT_Total_SP,Total_FCT_Change,Mean_FCT_Change,Mean_FCT_Per_Change,Count_FCT_Decrease,Total_Flows,Percentage_FCT_Decrease
0,1,31044.880601,30968.967977,-75.912624,-0.272641,-0.281158,259,270,95.925926
1,2,45213.806595,40339.460175,-4874.346421,-25.542204,-81.239107,47,60,78.333333
2,3,187632.791133,198787.491799,11154.700666,13.653542,41.313706,65,270,24.074074

In [5]:
merged_df.to_csv("./result.csv")

In [6]:
#0 	1 	15470.217402 	15470.217336 	-0.000066 	-4.888741e-07 	1 	135 	0.740741

In [7]:
# in 40Mpbs some high pg flows' fct has increase as follow: 
    # 131,11:0:21 11:0:41 10020 100 17,2.00055418,125.34508296,125.364080097,2083,2086,123.363525917,1,0,2.00055418,125.366682448,125.366845447,2086,2086,123.366291267,1,0,0.0027653499999900077,0.002241626914790485
        # use high_60 replace high_61
    # 156,11:0:21 11:0:41 10004 100 17,2.000111196,113.565199616,113.58213076,1627,1629,111.582019564,1,0,2.000111196,113.610388046,113.610699046,1629,1629,111.61058785,1,0,0.02856828599999517,0.02560294760000224
        # use high_12 replace high_13
    # 183,11:0:21 11:0:41 10040 100 17,2.001132561,120.484628618,120.506937341,1108,1111,118.50580478,1,0,2.001132561,120.556739024,120.557038222,1113,1114,118.555905661,1,0,0.05010088099999166,0.04227715350568809
        # use high_120 replace high_121
    # 180,11:0:21 11:0:41 10029 100 17,2.000844572,121.428252899,121.447419428,1951,1951,119.446574856,1,0,2.000844572,121.44740644,121.447481839,1951,1951,119.446637267,1,0,6.241100000181632e-05,5.225013783530965e-05
        # use high_87 replace high_88   
    # 256,11:0:31 11:0:41 10022 100 17,2.000626577,123.632155519,123.651544052,2069,2082,121.650917475,1,0,2.000626577,123.653212468,123.653460069,2069,2069,121.652833492,1,0,0.001916016999999215,0.0015750123712737045
        # use high_67 replace high_68       
    # 50,11:0:11 11:0:41 10020 100 17,2.00054058,124.004466398,124.021815529,2071,2075,122.021274949,1,0,2.00054058,124.023811895,124.023887895,2071,2071,122.023347315,1,0,0.0020723659999930533,0.0016983644867333333
        # use high_59 replace high_60
        # use high_60 replace high_61