In [1]:
import pandas as pd

# Load the datasets
no_sp_df = pd.read_csv('../log/tmplog_finalTest4.csv')
sp_df = pd.read_csv('../log/tmplog_finalTest4_SP.csv')

# Display the first few rows of each DataFrame to understand the structure
no_sp_df.head(), sp_df.head()

(                       flow id:  first send:  last send:  last arrive:  \
 0  11:0:11 11:0:41 10099 100 17     2.015403  199.873296    199.873270
 1  11:0:11 11:0:41 10097 100 17     2.014783  199.870398    199.870372
 2  11:0:11 11:0:41 10096 100 17     2.014472  199.866441    199.866415
 3  11:0:11 11:0:41 10093 100 17     2.013636  199.864050    199.864024
 4  11:0:11 11:0:41 10092 100 17     2.013325  199.863133    199.863107

    send num:  receive num:  send size:  receive size:        FCT:  origin_pg:
 0      66164         66161      945000         943500  197.857867           3
 1      66162         66159      945000         943500  197.855589           3
 2      66157         66154      916208         914708  197.851943           3
 3      66156         66153      919800         918340  197.850388           3
 4      66155         66152      945000         943500  197.849782           3  ,
                        flow id:  first send:  last send:  last arrive:  \
 0  11:0:11 11:0:41 10099 100 17     2.015403  199.873296    199.873270
 1  11:0:11 11:0:41 10097 100 17     2.014783  199.870398    199.870372
 2  11:0:11 11:0:41 10096 100 17     2.014472  199.866441    199.866415
 3  11:0:11 11:0:41 10093 100 17     2.013636  199.864050    199.864024
 4  11:0:11 11:0:41 10092 100 17     2.013325  199.863133    199.863107

    send num:  receive num:  send size:  receive size:        FCT:  origin_pg:
 0      66164         66161      945000         943500  197.857867           3
 1      66162         66159      945000         943500  197.855589           3
 2      66157         66154      916208         914708  197.851943           3
 3      66156         66153      919800         918340  197.850388           3
 4      66155         66152      945000         943500  197.849782           3  )

In [2]:
# Merge the datasets on 'flow id:' column
merged_df = pd.merge(no_sp_df, sp_df, on='flow id:', suffixes=('_no_sp', '_sp'))

# Calculate FCT change and percentage change
merged_df['FCT Change'] = merged_df['FCT:_sp'] - merged_df['FCT:_no_sp']
merged_df['FCT % Change'] = (merged_df['FCT Change'] / merged_df['FCT:_no_sp']) * 100

# Display the new dataframe with changes
merged_df[['flow id:', 'FCT:_no_sp', 'FCT:_sp', 'FCT Change', 'FCT % Change']].head()

,flow id:,FCT:_no_sp,FCT:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10099 100 17,197.857867,197.857867,0.0,0.0
1,11:0:11 11:0:41 10097 100 17,197.855589,197.855589,0.0,0.0
2,11:0:11 11:0:41 10096 100 17,197.851943,197.851943,0.0,0.0
3,11:0:11 11:0:41 10093 100 17,197.850388,197.850388,0.0,0.0
4,11:0:11 11:0:41 10092 100 17,197.849782,197.849782,0.0,0.0

In [3]:
# merged_df = pd.read_csv('./result_4_multiCast_overlap.csv')
# merged_df = pd.read_csv('./result_4_multiCast.csv')
# merged_df = pd.read_csv('./result_4.csv')
merged_df

,flow id:,first send:_no_sp,last send:_no_sp,last arrive:_no_sp,send num:_no_sp,receive num:_no_sp,send size:_no_sp,receive size:_no_sp,FCT:_no_sp,origin_pg:_no_sp,...,last send:_sp,last arrive:_sp,send num:_sp,receive num:_sp,send size:_sp,receive size:_sp,FCT:_sp,origin_pg:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10099 100 17,2.015403,199.873296,199.873270,66164,66161,945000,943500,197.857867,3,...,199.873296,199.873270,66164,66161,945000,943500,197.857867,3,0.0,0.0
1,11:0:11 11:0:41 10097 100 17,2.014783,199.870398,199.870372,66162,66159,945000,943500,197.855589,3,...,199.870398,199.870372,66162,66159,945000,943500,197.855589,3,0.0,0.0
2,11:0:11 11:0:41 10096 100 17,2.014472,199.866441,199.866415,66157,66154,916208,914708,197.851943,3,...,199.866441,199.866415,66157,66154,916208,914708,197.851943,3,0.0,0.0
3,11:0:11 11:0:41 10093 100 17,2.013636,199.864050,199.864024,66156,66153,919800,918340,197.850388,3,...,199.864050,199.864024,66156,66153,919800,918340,197.850388,3,0.0,0.0
4,11:0:11 11:0:41 10092 100 17,2.013325,199.863133,199.863107,66155,66152,945000,943500,197.849782,3,...,199.863133,199.863107,66155,66152,945000,943500,197.849782,3,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,11:0:251 11:0:41 10081 100 17,2.082010,199.839932,199.839906,66137,66135,942040,940540,197.757896,3,...,199.839932,199.839906,66137,66135,942040,940540,197.757896,3,0.0,0.0
2396,11:0:251 11:0:41 10070 100 17,2.078716,199.831157,199.831123,66127,66125,918340,916880,197.752407,3,...,199.831157,199.831123,66127,66125,918340,916880,197.752407,3,0.0,0.0
2397,11:0:251 11:0:41 10053 100 17,2.074016,76.997041,77.303819,9310,9400,65793,65793,75.229803,2,...,76.997041,77.303819,9310,9400,65793,65793,75.229803,2,0.0,0.0
2398,11:0:251 11:0:41 10057 100 17,2.074852,199.816063,199.816037,66119,66117,942803,941303,197.741186,3,...,199.816063,199.816037,66119,66117,942803,941303,197.741186,3,0.0,0.0
2399,11:0:251 11:0:41 10058 100 17,2.075163,199.818474,199.818448,66121,66119,918340,916880,197.743286,3,...,199.818474,199.818448,66121,66119,918340,916880,197.743286,3,0.0,0.0

In [4]:
# Group by origin priority group and calculate the required statistics
group_stats = merged_df.groupby('origin_pg:_no_sp').agg(
    FCT_Total_No_SP=pd.NamedAgg(column='FCT:_no_sp', aggfunc='sum'),
    FCT_Total_SP=pd.NamedAgg(column='FCT:_sp', aggfunc='sum'),
    Total_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='sum'),
    Mean_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='mean'),
    Mean_FCT_Per_Change=pd.NamedAgg(column='FCT % Change', aggfunc='mean'),
    Count_FCT_Decrease=pd.NamedAgg(column='FCT Change', aggfunc=lambda x: (x <= 0.0).sum()),
    Total_Flows=pd.NamedAgg(column='FCT Change', aggfunc='size'),
    Count_FCT_30Percentage_Decrease=pd.NamedAgg(column='FCT % Change', aggfunc=lambda x: (x <= -30.0).sum())
)
    
# Calculate percentage of flows with decreased FCT
group_stats['Percentage_FCT_Decrease'] = (group_stats['Count_FCT_Decrease'] / group_stats['Total_Flows']) * 100
    
group_stats['Count_FCT_30Percentage_Decrease'] = group_stats['Count_FCT_30Percentage_Decrease'] / group_stats['Total_Flows'] * 100


# Display the summarized statistics
group_stats.reset_index()

,origin_pg:_no_sp,FCT_Total_No_SP,FCT_Total_SP,Total_FCT_Change,Mean_FCT_Change,Mean_FCT_Per_Change,Count_FCT_Decrease,Total_Flows,Count_FCT_30Percentage_Decrease,Percentage_FCT_Decrease
0,1,15740.829250,15740.829250,0.0,0.0,0.0,1080,1080,0.0,100.0
1,2,15600.249669,15600.249669,0.0,0.0,0.0,240,240,0.0,100.0
2,3,205973.272163,205973.272163,0.0,0.0,0.0,1080,1080,0.0,100.0

In [5]:
# merged_df.to_csv("./result_4_multiCast_8times_bigbuf.csv")

In [6]:
#0 	1 	15470.217402 	15470.217336 	-0.000066 	-4.888741e-07 	1 	135 	0.740741

In [7]:
# in 40Mpbs some high pg flows' fct has increase as follow: 
    # 131,11:0:21 11:0:41 10020 100 17,2.00055418,125.34508296,125.364080097,2083,2086,123.363525917,1,0,2.00055418,125.366682448,125.366845447,2086,2086,123.366291267,1,0,0.0027653499999900077,0.002241626914790485
        # use high_60 replace high_61
    # 156,11:0:21 11:0:41 10004 100 17,2.000111196,113.565199616,113.58213076,1627,1629,111.582019564,1,0,2.000111196,113.610388046,113.610699046,1629,1629,111.61058785,1,0,0.02856828599999517,0.02560294760000224
        # use high_12 replace high_13
    # 183,11:0:21 11:0:41 10040 100 17,2.001132561,120.484628618,120.506937341,1108,1111,118.50580478,1,0,2.001132561,120.556739024,120.557038222,1113,1114,118.555905661,1,0,0.05010088099999166,0.04227715350568809
        # use high_120 replace high_121
    # 180,11:0:21 11:0:41 10029 100 17,2.000844572,121.428252899,121.447419428,1951,1951,119.446574856,1,0,2.000844572,121.44740644,121.447481839,1951,1951,119.446637267,1,0,6.241100000181632e-05,5.225013783530965e-05
        # use high_87 replace high_88   
    # 256,11:0:31 11:0:41 10022 100 17,2.000626577,123.632155519,123.651544052,2069,2082,121.650917475,1,0,2.000626577,123.653212468,123.653460069,2069,2069,121.652833492,1,0,0.001916016999999215,0.0015750123712737045
        # use high_67 replace high_68       
    # 50,11:0:11 11:0:41 10020 100 17,2.00054058,124.004466398,124.021815529,2071,2075,122.021274949,1,0,2.00054058,124.023811895,124.023887895,2071,2071,122.023347315,1,0,0.0020723659999930533,0.0016983644867333333
        # use high_59 replace high_60
        # use high_60 replace high_61

In [8]:
# 300_reconstruction_flow_txt_origin_receive_renew REPLACE:
# high_57->high_123
# high_82->high_125

#