In [1]:
import pandas as pd

# Load the datasets
no_sp_df = pd.read_csv('../log/tmplog_finalTest3.csv')
sp_df = pd.read_csv('../log/tmplog_finalTest3_SP.csv')

# Display the first few rows of each DataFrame to understand the structure
no_sp_df.head(), sp_df.head()

(                       flow id:  first send:   last send:  last arrive:  \
 0  11:0:11 11:0:41 10198 100 17     7.010183  1517.340282   1517.340546
 1  11:0:11 11:0:41 10195 100 17     7.009491   773.308333    773.317095
 2  11:0:11 11:0:41 10193 100 17     7.009319   497.680360    497.699379
 3  11:0:11 11:0:41 10192 100 17     7.009282   517.409520    517.425949
 4  11:0:11 11:0:41 10190 100 17     7.009195   660.374911    660.389897

    send num:  receive num:  send size:  receive size:         FCT:  \
 0  137411725     137412750    88826839       88826839  1510.330363
 1   15350007      15350737    32953236       32953236   766.307604
 2    2984658       2985061    15111218       15111218   490.690060
 3    4568986       4569494     1333486        1333486   510.416668
 4    9309916       9310551    24711438       24711438   653.380702

    origin_pg:  transfer delay:
 0           3                0
 1           3                0
 2           3                0
 3           3                0
 4           3                0  ,
                        flow id:  first send:   last send:  last arrive:  \
 0  11:0:11 11:0:41 10198 100 17     7.010538  1498.873020   1498.873292
 1  11:0:11 11:0:41 10195 100 17     7.009847   854.857818    854.865957
 2  11:0:11 11:0:41 10193 100 17     7.009675   630.302817    630.318548
 3  11:0:11 11:0:41 10192 100 17     7.009637   324.061898    324.062208
 4  11:0:11 11:0:41 10190 100 17     7.009550   607.070821    607.087730

    send num:  receive num:  send size:  receive size:         FCT:  \
 0  127629279     127630248    88826839       88826839  1491.862754
 1   18276247      18277047    32953236       32953236   847.856110
 2    3988304       3988851    15111218       15111218   623.308873
 3    2432877       2432912     1333486        1333486   317.052571
 4    7303768       7304338    24711438       24711438   600.078180

    origin_pg:  transfer delay:
 0           3                0
 1           3                0
 2           3                0
 3           3                0
 4           3                0  )

In [2]:
# Merge the datasets on 'flow id:' column
merged_df = pd.merge(no_sp_df, sp_df, on='flow id:', suffixes=('_no_sp', '_sp'))

# Calculate FCT change and percentage change
merged_df['FCT Change'] = merged_df['FCT:_sp'] - merged_df['FCT:_no_sp']
merged_df['FCT % Change'] = (merged_df['FCT Change'] / merged_df['FCT:_no_sp']) * 100

# Display the new dataframe with changes
merged_df[['flow id:', 'FCT:_no_sp', 'FCT:_sp', 'FCT Change', 'FCT % Change']].head()

,flow id:,FCT:_no_sp,FCT:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10198 100 17,1510.330363,1491.862754,-18.467610,-1.222753
1,11:0:11 11:0:41 10195 100 17,766.307604,847.856110,81.548506,10.641746
2,11:0:11 11:0:41 10193 100 17,490.690060,623.308873,132.618813,27.027002
3,11:0:11 11:0:41 10192 100 17,510.416668,317.052571,-193.364097,-37.883578
4,11:0:11 11:0:41 10190 100 17,653.380702,600.078180,-53.302522,-8.157958

In [10]:
#merged_df = pd.read_csv('./result_bak.csv')
merged_df = pd.read_csv('./result_bak.csv')
merged_df

,Unnamed: 0,flow id:,first send:_no_sp,last send:_no_sp,last arrive:_no_sp,send num:_no_sp,receive num:_no_sp,send size:_no_sp,receive size:_no_sp,FCT:_no_sp,...,last arrive:_sp,send num:_sp,receive num:_sp,send size:_sp,receive size:_sp,FCT:_sp,origin_pg:_sp,transfer delay:_sp,FCT Change,FCT % Change
0,0,11:0:11 11:0:41 10198 100 17,7.010183,1517.340282,1517.340546,137411725,137412750,88826839,88826839,1510.330363,...,1498.873292,127629279,127630248,88826839,88826839,1491.862754,3,0,-18.467610,-1.222753
1,1,11:0:11 11:0:41 10195 100 17,7.009491,773.308333,773.317095,15350007,15350737,32953236,32953236,766.307604,...,854.865957,18276247,18277047,32953236,32953236,847.856110,3,0,81.548506,10.641746
2,2,11:0:11 11:0:41 10193 100 17,7.009319,497.680360,497.699379,2984658,2985061,15111218,15111218,490.690060,...,630.318548,3988304,3988851,15111218,15111218,623.308873,3,0,132.618813,27.027002
3,3,11:0:11 11:0:41 10192 100 17,7.009282,517.409520,517.425949,4568986,4569494,1333486,1333486,510.416668,...,324.062208,2432877,2432912,1333486,1333486,317.052571,3,0,-193.364097,-37.883578
4,4,11:0:11 11:0:41 10190 100 17,7.009195,660.374911,660.389897,9309916,9310551,24711438,24711438,653.380702,...,607.087730,7303768,7304338,24711438,24711438,600.078180,3,0,-53.302522,-8.157958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,595,11:0:31 11:0:41 10121 100 17,7.000643,122.511600,122.567934,1269,1272,3096,3096,115.567291,...,122.505868,1268,1268,3096,3096,115.504850,1,0,-0.062441,-0.054030
596,596,11:0:31 11:0:41 10085 100 17,2.005971,293.233517,293.275032,681362,681556,5636747,5636747,291.269061,...,357.431517,841508,841772,5636747,5636747,355.425546,3,0,64.156485,22.026536
597,597,11:0:31 11:0:41 10126 100 17,7.000809,80.569870,80.624269,1226,1227,2214,2214,73.623460,...,80.268278,1224,1224,2214,2214,73.266917,1,0,-0.356543,-0.484279
598,598,11:0:31 11:0:41 10094 100 17,2.007011,621.892942,621.908687,5548103,5548601,20446843,20446843,619.901676,...,743.415948,7229709,7230327,20446843,20446843,741.408937,3,0,121.507261,19.601054
599,599,11:0:31 11:0:41 10123 100 17,7.000719,131.196803,131.251223,3238,3241,6327,6327,124.250503,...,130.825785,3227,3227,6327,6327,123.824514,1,0,-0.425990,-0.342847

In [11]:
# Group by origin priority group and calculate the required statistics
group_stats = merged_df.groupby('origin_pg:_no_sp').agg(
    FCT_Total_No_SP=pd.NamedAgg(column='FCT:_no_sp', aggfunc='sum'),
    FCT_Total_SP=pd.NamedAgg(column='FCT:_sp', aggfunc='sum'),
    Total_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='sum'),
    Mean_FCT_Change=pd.NamedAgg(column='FCT % Change', aggfunc='mean'),
    Mean_FCT_Per_Change=pd.NamedAgg(column='FCT Change', aggfunc='mean'),
    Count_FCT_Decrease=pd.NamedAgg(column='FCT Change', aggfunc=lambda x: (x <= 0.0).sum()),
    Total_Flows=pd.NamedAgg(column='FCT Change', aggfunc='size')
)

# Calculate percentage of flows with decreased FCT
group_stats['Percentage_FCT_Decrease'] = (group_stats['Count_FCT_Decrease'] / group_stats['Total_Flows']) * 100

# Display the summarized statistics
group_stats.reset_index()

,origin_pg:_no_sp,FCT_Total_No_SP,FCT_Total_SP,Total_FCT_Change,Mean_FCT_Change,Mean_FCT_Per_Change,Count_FCT_Decrease,Total_Flows,Percentage_FCT_Decrease
0,1,31043.315825,30962.001787,-81.314039,-0.292788,-0.301163,264,270,97.777778
1,2,45203.279166,39835.101132,-5368.178034,-27.295154,-89.469634,50,60,83.333333
2,3,187619.398784,197446.141314,9826.742529,11.778724,36.395343,66,270,24.444444

In [5]:
merged_df.to_csv("./result.csv")

In [6]:
#0 	1 	15470.217402 	15470.217336 	-0.000066 	-4.888741e-07 	1 	135 	0.740741

In [7]:
# in 40Mpbs some high pg flows' fct has increase as follow: 
    # 131,11:0:21 11:0:41 10020 100 17,2.00055418,125.34508296,125.364080097,2083,2086,123.363525917,1,0,2.00055418,125.366682448,125.366845447,2086,2086,123.366291267,1,0,0.0027653499999900077,0.002241626914790485
        # use high_60 replace high_61
    # 156,11:0:21 11:0:41 10004 100 17,2.000111196,113.565199616,113.58213076,1627,1629,111.582019564,1,0,2.000111196,113.610388046,113.610699046,1629,1629,111.61058785,1,0,0.02856828599999517,0.02560294760000224
        # use high_12 replace high_13
    # 183,11:0:21 11:0:41 10040 100 17,2.001132561,120.484628618,120.506937341,1108,1111,118.50580478,1,0,2.001132561,120.556739024,120.557038222,1113,1114,118.555905661,1,0,0.05010088099999166,0.04227715350568809
        # use high_120 replace high_121
    # 180,11:0:21 11:0:41 10029 100 17,2.000844572,121.428252899,121.447419428,1951,1951,119.446574856,1,0,2.000844572,121.44740644,121.447481839,1951,1951,119.446637267,1,0,6.241100000181632e-05,5.225013783530965e-05
        # use high_87 replace high_88   
    # 256,11:0:31 11:0:41 10022 100 17,2.000626577,123.632155519,123.651544052,2069,2082,121.650917475,1,0,2.000626577,123.653212468,123.653460069,2069,2069,121.652833492,1,0,0.001916016999999215,0.0015750123712737045
        # use high_67 replace high_68       
    # 50,11:0:11 11:0:41 10020 100 17,2.00054058,124.004466398,124.021815529,2071,2075,122.021274949,1,0,2.00054058,124.023811895,124.023887895,2071,2071,122.023347315,1,0,0.0020723659999930533,0.0016983644867333333
        # use high_59 replace high_60
        # use high_60 replace high_61